:root {
  --slate: #718f94;
  --green: #5b7b7a;
  --dark: #2d3047;
  --red: #d85461;
  --blush: #f5efed;
  --stone: #d9d9d9;
  --white: #ffffff;
  --rose: #d4b9b0;
  --gradient: linear-gradient(180deg, var(--slate) 0%, var(--dark) 100%);
  --base-size: 1rem;
  --scale: 1.25;
  --h6: calc(var(--base-size) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --sans-serif: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 100%; /*16px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--gradient) no-repeat fixed;
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--sans-serif);
  font-size: var(--base-size);
  padding: 0;
  margin: 0;
}
a {
  color: var(--blush);
  text-decoration: none;
}

a:hover {
  color: var(--rose);
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
}

p {
  margin-bottom: 1rem;
}
img {
  width: 100%;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: 1.15;
}

h2 {
  margin-top: 0;
  text-align: center;
}
section {
  padding: 2rem 4rem;
}

.banner,
header,
img {
  margin-bottom: -0.5rem;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

small,
.text_small {
  font-size: calc(var(--base-size) / var(--scale));
}

em {
  font-style: italic;
  font-weight: bold;
}

.wrapper {
  scroll-behavior: smooth;
  /* width: 100vw; */
  margin: 0 auto;
}

#scroll-to-top {
  font-size: 3rem;
  position: fixed;
  top: 85vh;
  right: 1rem;
  color: var(--red);
  z-index: 5;
  view-timeline: --subjectReveal block;
  animation-timeline: --subjectReveal;
  animation-name: appear;
  animation-fill-mode: both;
  animation-duration: 1ms;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scaleX(0) scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}

#top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  padding: 2rem 2rem 1rem 2rem;
  margin: auto;
  gap: 1rem;
  justify-content: space-between;
}

#top h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

#top p {
  margin-top: 0px;
  font-size: var(--h4);
}

#top ul {
  justify-self: end;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.site-nav {
  height: auto;
  position: relative;
  float: right;
  clip-path: initial;
}
.menu-toggle {
  display: none;
}

#top > nav a:focus,
#top > nav a:hover {
  color: var(--rose);
}

.about {
  background-color: var(--blush);
}

.video-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: start;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.video-container figcaption {
  color: var(--blush);
  max-width: 300px;
}

.audio {
  background-color: var(--blush);
}

#audio-player-container {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
}

.purchase {
  text-align: center;
  background-color: var(--stone);
}

.purchase figure {
  margin: 0;
}

.purchase-album {
  display: grid;
}

.purchase-container-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}
.purchase-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 1rem;
}
.purchase a {
  color: var(--red);
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s;
}
.purchase a:hover {
  color: var(--slate);
  transform: scale(1.15);
}

#amazon {
  font-size: 2.75rem;
}
#apple {
  padding-bottom: 1rem;
}
.purchase i {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  text-align: start;
}

/* REVIEWS */

#open-review-1,
#open-review-2 {
  background-color: inherit;
  border: none;
  transition: all 0.3s;
  height: 400px;
  width: 300px;
}

#open-review-1:hover,
#open-review-2:hover {
  transform: scale(1.15);
}

#close-review-1,
#close-review-2 {
  color: var(--blush);
  border: none;
  background-color: var(--red);
  font-size: var(--h4);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
  padding: 0;
}
#close-review-1:hover,
#close-review-2:hover {
  color: var(--blush);
  border: none;
  background-color: var(--slate);
  transform: scale(1.15);
}
#close-review-1:focus,
#close-review-2:focus {
  color: var(--blush);
  outline: none;
  text-decoration: none;
  background-color: var(--red);
  transform: scale(1.15);
}

.reviews-container {
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

#reviews dialog {
  border: none;
  border-radius: 0.5rem;
  z-index: 10;
  max-width: 700px;
}
dialog::backdrop {
  background-color: #2d3047;
  opacity: 0.75;
}

.review-img-container-1 {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 1rem;
  box-shadow: 0 8px 16px 0 rgba(108, 80, 56, 0.5),
    0 6px 20px 0 rgba(108, 80, 56, 0.2);
}
.review-img-container-2 {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 1rem;
  box-shadow: 0 8px 16px 0 rgba(113, 133, 142, 0.5),
    0 6px 20px 0 rgba(113, 133, 142, 0.2);
}
.review-text {
  text-align: justify;
}
.review-author {
  text-align: right;
}
/* BUTTON */

.contact {
  background-color: #f5efed;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.btn {
  white-space: nowrap;
  background-color: #d85461;
  font-size: var(--base-size);
  text-transform: uppercase;
  color: var(--blush);
  padding: 1rem 2rem;
  border-radius: 5000px;
  transition: all 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  transform: scale(1.15);
  background-color: var(--slate);
}

.footer {
  background-color: var(--blush);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#social-links {
  background-color: var(--blush);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-top: 0;
  margin-top: -2rem;
}

#social-links a {
  color: var(--red);
  transition: all 0.3s;
}
#social-links a:hover {
  color: var(--slate);
  transform: scale(1.15);
}
#youTube {
  font-size: 4rem;
}

#instagram {
  font-size: 3.65rem;
}

@media (max-width: 750px) {
  #scroll-to-top {
    font-size: 2.5rem;
    right: 0.5rem;
  }

  #top h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: var(--h3);
  }

  #top p {
    margin-top: 0px;
    font-size: var(--h6);
  }

  section h2 {
    font-size: var(--h4);
  }

  .site-nav {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--blush);
    padding: 2rem;
    clip-path: circle(0% at top right);
    transition: clip-path ease-in-out 700ms;
  }

  .site-nav--open {
    clip-path: circle(250% at top right);
  }

  .menu-toggle {
    display: block;
    padding: 1rem;
    display: flex;
    /* justify-content: flex-end; */
    background: transparent;
    border: none;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '  ';
    display: block;
    background: var(--blush);
    height: 4px;
    width: 3rem;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }

  .hamburger {
    position: relative;
  }
  .hamburger::before {
    transform: translateY(-6px);
    position: absolute;
    top: -6px;
    left: 0;
  }

  .hamburger::after {
    position: absolute;
    top: 9px;
    left: 0;
  }

  .hamburger::after {
    transform: translateY(3px);
  }

  .open .hamburger {
    transform: rotate(45deg);
    background-color: var(--dark);
    width: 2rem;
  }

  .open .hamburger::before {
    opacity: 0;
  }

  .open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
    background-color: var(--dark);
    width: 2rem;
    top: 3px;
  }

  #top ul {
    flex-direction: column;
    padding-top: 2rem;
  }

  #top button {
    justify-self: end;
  }

  #top > nav a {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--dark);
    font-weight: bold;
  }
  #top > nav a:hover {
    color: var(--slate);
  }

  .reviews-container {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  #open-review-1,
  #open-review-2 {
    background-color: inherit;
    border: none;
    transition: all 0.3s;
    height: 300px;
    width: 225px;
    text-decoration: none;
  }

  #close-review-1,
  #close-review-2 {
    color: var(--blush);
    border: none;
    background-color: var(--red);
    font-size: 1rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.3s;
    text-decoration: none;
  }

  .purchase-container-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
  }
  .video-container {
    display: grid;
    grid-template-columns: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
  }
}
